<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">



      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4">
        <% if session[:user_id]%>
          <%= form_for [@product, @review] do |f| %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.label :description %>
            <%= f.text_area :description %>
            <%=f.label :rating %>
            <%= f.select(:rating, options_for_select([['1/5', 1],['2/5', 2],['3/5', 3],['4/5', 4],['5/5', 5]]))%>
            <%= f.submit("Submit") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4">
        <% @reviews.reverse_each do |review| %>
          <div class="review">
            <ul>
              <li class="name"><span>By </span><%= review.user.first_name%> <%= review.user.last_name%></li>
              <li class="description"><%= review.description %></li>
              <li class="rating"><%= review.rating %> / 5</li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </article>

</section>
